.sidebar{
    width: 230px;
    min-width: 230px;
    background-color: #4f46e5;
    transition: margin-left 0.6s;
    min-height: 100vh; /* Ensure it covers full viewport height */
}

.Admin-container{
    display: flex;
    height: 100%; /* Full height of the viewport */
    min-height: 100vh; /* Ensures minimum height is the viewport height */
}

.Sidebar-Nav-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.Sidebar-Nav-list{
    list-style: none;
}

.Sidebar-Nav-link{
    text-decoration: none;
    color: white;
}

.Dashboard{
    flex-grow: 1;
    background-color: #f5f5f5;
    min-height:100vh;
}

.admin-navbar{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display:flex;
    justify-content: space-between;
}
.hamburger-btn{
    font-size: 1.5rem;
    line-height: 10px; 
}
.Admin-Navbar-data{
    display:flex;
    gap:8px;
    align-items: center;
}
.Admin-navbar-slogan{
    font-weight: 600;
}
.profile-pic{
    width: 40px;
    height:40px;
    border-radius: 50%;
}
.Admin-Navbar-btn{
    width:2rem;
    height:2rem;
    background-color: #f9fafb;
    border:none;
    outline: none;
}

.Admin-Navbar-btn:hover{
    color: white;
    background-color: #4f46e5; 
}
.profile-pic-btn{
    border:none;
    outline:none;
    background: none;
    cursor: pointer;
    margin-right:10px;
}

.collapse{
    margin-left: -230px;
}
.profile-data{
    height:50px;
    width:20px;
    background-color:white;
}
.profile-data{
    width:230px;
    height:130px;
    background-color: white;
    position: absolute;
    top:60px;
    right:-8px;
}
.Admin-profile-content{
    position: relative;
}
.profile-name{
    text-align: center;
}

.horizontal-line{
    height: 1px;
    background-color: #e5e7eb;
    margin: 16px 0;
    border: none;
    margin-bottom:50px;
}

.profile-logout-btn {
    background-color: transparent; 
    border: none;
    outline: none; 
    margin-left: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    cursor: pointer; 
    padding: 10px;
    font-weight: 500;
}

.profile-text{
    color:gray;
}

.sidebar-link{
    padding:10px;
    display:flex;
    gap:10px;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color:#f9fafb;
}

.sidebar-link:hover{
    background-color: #dc2626;
    color:white;
}
.sidebar-link-data{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.active{
    background-color:#dc2626;
}

.content{
    padding:10px;
}